<div>
  <div style="text-align:center;">
    <h1>The Faster Query Method</h1>
    <h4>Loops, Joins, and Includes</h4>
    <p><em>Gauge their speed in four difference scenarios</em></p>
  </div>
  <div class="situations">

<!-- ********************************************************* -->

    <div class="square-focus">
      <h3 class="square-header">Scenarios 1 & 2: Index of Artifacts</h3>
      <div class="data-window span4">
        <h4>Scenario 1</h4>
        <%= render 'session/scenario_one.html.erb' %>
      </div>
      <div class="data-window span4">
        <h4>Scenario 2</h4>
        <%= render 'session/scenario_two.html.erb' %>
      </div>
      <div class="situation span8">
        <h4 class="situation-header">More About the Models</h4>
        <p>Artifact and Artist are connected through an Active Record Association. Artifact belongs to Artist, and Artist has many Artifacts. Furthermore, because of how data in this database is structured, every artifact has an artist, and every artist has an artifact.</p>
        
        <p>Therefore the number of artifacts that are associated with an artist equals the the total number of artifacts. As you'll see, this has an impact on the effectiveness of a query method.</p>
      </div>
    </div>

<!-- ********************************************************* -->
    
    <div class="square-focus">
      <h3 class="square-header">Scenarios 3 & 4: Index of Artists</h3>
      <div class="data-window span4">
        <h4>Scenario 3</h4>
        <%= render 'session/scenario_three.html.erb' %>
      </div>
      <div class="data-window span4">
        <h4>Scenario 4</h4>
        <%= render 'session/scenario_four.html.erb' %>
      </div>
      <div class="situation span8">
        <h4 class="situation-header">More About the Models</h4>
        <p>Artist and Commission are connected through an Active Record Association. Commission belongs to Artist, and Artist has many commissions. However, unlike the case with artifacts and artists, <em>not</em> every artist has a commission.</p>
        
        <p>Therefore the number of artists that are associated with a commission is significantly less than the total number of artists. This impacts the effectiveness of a query method.</p>
      </div>

    </div>

<!-- ********************************************************* -->

    <h2>You selected...</h2>
    <h4><em>Loops, Joins, or Includes?</em></h4>
    <%= form_tag session_path, method: "get" do %>

      <div id="s-submit">
      <%= submit_tag "See Results", :class => "btn btn-large btn-block btn-primary", :id => 's-submit' %>
      </div>
    <% end %>
  </div>
</div>